@font-face {
    font-family: "Inter";
    src: url(fonte/Inter/Inter_18pt-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url(fonte/Inter/Inter_18pt-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src: url(fonte/Inter/Inter_18pt-Light.ttf);
    font-weight: 300;
}