

.Container {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 300px;
  height: auto;
  border: 1px solid #999;
  Padding: 8px;
  border-radius: 0 10px 0 10px;
}
.box img {
  width: 100%;
}
