*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 80px;
}
.container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    list-style: none;
    display: flex;

}
.menu a{
    color: #c12a21;
    text-decoration: none;
    padding: 8 16;
    ;
}
.banner{
    width: 1024px;
    height: auto;
    margin: 0 auto;
}
.banner img{    
    width: 100%;
}
.section .container{
    flex-direction: column;
}
.section h2{
    color: #c12a21;
}
.box{
    width: 300;
    height: auto;
    background-color: #c12a21;
    border-radius: 8px;
    padding: 8px 16px 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box h2{
    color: #fff;
    text-align: center;
}
.box img{
    width: 100%;
}
.btn{
    color: #444;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    padding: 8px 16px;
    box-sizing: border-box;/*limita o block*/
    border-radius: 8px;
    text-transform: uppercase;/*força o texto a ficar em caixa alta*/
    display: inline-block;
    width: 100%;
    text-align: center;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}
.footer{
    background-color: #c12a21;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    padding: 32px 0;
    margin-top: 32px;
}
@media screen and (max-width:1023px){
.header{
    height: auto;
    align-items: center;

}
.container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100%;

}
.content{
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    }
.box{
    height: auto;
    margin-bottom: 16px;
}
}

